<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhangxiang.mapper.ArticleMapper">
    <!--定义resultMap-->
    <!--定义Comment的resultMap-->
    <resultMap id="ArticleResultMap" type="com.zhangxiang.model.Article">
        <id column="article_id"  property="articleId" />
        <result column="article_title"  property="articleTitle" />
        <result column="article_photo"  property="articlePhoto" />
        <result column="article_content"  property="articleContent" />
        <result column="article_view_count"  property="articleViewCount" />
        <result column="article_comment_count"  property="articleCommentCount" />
        <result column="article_like_count"  property="articleLikeCount" />
        <result column="article_status"  property="articleStatus" />
        <result column="article_creation_time"  property="articleCreationTime" />
        <result column="category_id"  property="categoryId" />
        <result column="admin_id"  property="adminId" />
    </resultMap>

    <resultMap id="CategoryResultMap" type="com.zhangxiang.model.Category">
        <id column="category_id"  property="categoryId" />
        <result column="category_name"  property="categoryName" />
        <result column="category_photo"  property="categoryPhoto" />
    </resultMap>

    <resultMap id="ArticleResultMapExtend" type="com.zhangxiang.model.Article">
        <id column="article_id"  property="articleId" />
        <result column="article_title"  property="articleTitle" />
        <result column="article_photo"  property="articlePhoto" />
        <result column="article_content"  property="articleContent" />
        <result column="article_view_count"  property="articleViewCount" />
        <result column="article_comment_count"  property="articleCommentCount" />
        <result column="article_like_count"  property="articleLikeCount" />
        <result column="article_status"  property="articleStatus" />
        <result column="article_creation_time"  property="articleCreationTime" />
        <result column="category_id"  property="categoryId" />
        <result column="admin_id"  property="adminId" />
        <!--一对一关联-->
        <association property="category" resultMap="CategoryResultMap" column="category_id" javaType="com.zhangxiang.model.Category"/>
    </resultMap>

    <select id="selectAllArticles" resultMap="ArticleResultMap">
        select *
        from article
    </select>

    <select id="findArticle" resultMap="ArticleResultMapExtend" parameterType="java.lang.Integer">
        SELECT * FROM article a JOIN category c on a.category_id = c.category_id where article_id = #{articleId}
    </select>

    <select id="selectAllArticlesByCategory" resultMap="ArticleResultMap" parameterType="java.lang.Integer">
        select *
        from article
        where category_id = #{categoryId};
    </select>

    <select id="findArticlesByTitle" resultMap="ArticleResultMap" parameterType="java.lang.String">
        select * from article where article_title like concat('%', #{titleKeywords}, '%')
    </select>

    <select id="findArticlesByContent" resultMap="ArticleResultMap" parameterType="java.lang.String">
        select * from article where article_title like concat('%', #{contentKeywords}, '%') or article_content like concat('%', #{contentKeywords}, '%')
    </select>

    <update id="updateById" parameterType="com.zhangxiang.model.Article">
        update article
        set article_title = #{articleTitle,jdbcType=VARCHAR},
            article_photo = #{articlePhoto,jdbcType=VARCHAR},
            article_content = #{articleContent, jdbcType=VARCHAR},
            article_view_count = #{articleViewCount,jdbcType=INTEGER},
            article_comment_count = #{articleCommentCount,jdbcType=INTEGER},
            article_like_count = #{articleLikeCount,jdbcType=INTEGER},
            article_status = #{articleStatus,jdbcType=INTEGER},
            category_id = #{categoryId, jdbcType=INTEGER},
            admin_id = #{adminId,jdbcType=INTEGER}
        where
            article_id = #{articleId,jdbcType=INTEGER}
    </update>

    <update id="updateCommentCount">
        update article
        set article_comment_count = #{articleCommentCount}
        where article_id = #{articleId}
    </update>

    <select id="findCommentCountByArticleId" resultType="java.lang.Integer" parameterType="java.lang.Integer">
        select count(*) from comment where article_id = #{articleId}
    </select>
    
    <insert id="addArticle" parameterType="com.zhangxiang.model.Article" useGeneratedKeys="true"
            keyProperty="articleId">
        insert into article (article_title,
                             article_content,
                             article_status,
                             article_creation_time,
                             category_id,
                             admin_id)
        values (#{articleTitle},
                #{articleContent},
                #{articleStatus},
                #{articleCreationTime},
                #{categoryId},
                #{adminId});
    </insert>

    <update id="deleteArticle" parameterType="java.lang.Integer">
        update article
        set article_status = 0
        where article_id = #{articleId}
    </update>

    <select id="selectAllTrueArticles" resultMap="ArticleResultMap">
        select *
        from article
        where article_status = 1;
    </select>

    <update id="recoverArticle" parameterType="java.lang.Integer">
        update article
        set article_status = 1
        where article_id = #{articleId}
    </update>

    <delete id="deleteArticleTrue" parameterType="java.lang.Integer">
        delete
        from article
        where article_id = #{articleId}
    </delete>

    <update id="updateCategoriesToZero" parameterType="java.lang.Integer">
        update article
        set category_id = 0
        where category_id = #{categoryId};
    </update>

    <select id="findArticleById" parameterType="java.lang.Integer" resultMap="ArticleResultMap">
        select *
        from article
        where article_id = #{articleId}
    </select>

    <update id="updateArticleById" parameterType="com.zhangxiang.model.Article">
        update article
        set
            article_title   = #{articleTitle},
            article_content = #{articleContent},
            article_status  = #{articleStatus},
            category_id     = #{categoryId}
        where article_id = #{articleId};

    </update>

    <select id="searchArticle" parameterType="com.zhangxiang.model.Article" resultMap="ArticleResultMap">
        select *
        from article
        where
        article_title like concat('%', #{articleTitle}, '%') and article_content like concat('%', #{articleContent},'%')
        <if test="categoryId != null">
            and category_id = #{categoryId}
        </if>
        <if test="articleCreationTimeBegin != null and articleCreationTimeOver != null">
            and article_creation_time between #{articleCreationTimeBegin} and #{articleCreationTimeOver}
        </if>
        <if test="articleStatus != null">
            and article_status = #{articleStatus}
        </if>
    </select>

</mapper>